html {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #faf0e0;
}

code {
  font-family: "Spline Sans Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

pre > code.sourceCode > span { display: inline-block; line-height: 1.1; }
pre > code.sourceCode > span:empty { height: 1em; }

body {
  font-size: 28px;
  color: #001;
  background-color: #fff6ee;
  box-shadow: 0px 0px 20px white;
}

header {
  border-bottom: medium groove #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

blockquote {
  background-color: #fafafa;
  border-radius: 12px;
  padding: 12px;
  margin-left: 8px;
}

blockquote > p {
  margin: 0px;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 70rem;
    margin: 0 auto;
    padding: 0 64px;
  }
  img {
    width: 70rem;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
  div.sourceCode {
    padding: 12px;
    border-radius: 12px;
  }
}
